.navbar-name {
    margin-left:780px;
    border-radius:40px!important;
}


    /* @media screen and (max-width: 1200px) {
            .navbar-name {
            margin-left:740px
            }
        }
                @media screen and (max-width: 1100px) {
                    .navbar-name {
                        margin-left: 640px
                    }
                }
                                @media screen and (max-width: 1100px) {
                                    .navbar-name {
                                        margin-left: 640px
                                    }
                                }
                                @media screen and (max-width: 1000px) {
                                    .navbar-name {
                                        margin-left: 540px
                                    }
                                }

                                @media screen and (max-width: 910px) {
                                    .navbar-name {
                                        margin-left: 440px
                                    }
                            
                                }
                                @media screen and (max-width: 810px) {
                                    .navbar-name {
                                        margin-left: 340px
                                    }
                                } */
                                @media screen and (max-width: 770px) {
                                    .user-role {
                                        display:none;
                                    }
                                    .inner-password {
                                        display: none;
                                    }
                                }
